@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
}
* body main {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 27vw;
  height: 80vh;
  overflow: hidden;
  border-radius: 2.5vh;
  box-shadow: 0vw 1vw 2.5vw -0.8vw hsla(245, 75%, 52%, 0.3);
}
* body main #hero {
  height: 30%;
}
* body main #hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body main #content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 3vw;
}
* body main #content p {
  color: hsl(224, 23%, 55%);
  text-align: center;
  width: 95%;
  line-height: 3.2vh;
}
* body main h1, * body main h2 {
  font-weight: 900;
}
* body main .plan {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  padding: 0 1.5vw;
  border-radius: 0.7vw;
}
* body main .plan img {
  height: 60%;
}
* body main #description {
  width: 50%;
  height: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
* body main #description span {
  color: hsl(224, 23%, 55%);
}
* body main a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}
* body main #buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}
* body main #buttons button:hover {
  cursor: pointer;
}
* body main #buttons button:nth-child(1) {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  font-weight: 500;
  box-shadow: 0vw 1.5vw 1.2vw -0.6vw hsla(245, 75%, 52%, 0.3);
  font-family: "Red Hat Display", sans-serif;
  height: 45%;
  border: none;
  border-radius: 0.7vw;
}
* body main #buttons button:nth-child(2) {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  box-shadow: none;
  font-family: "Red Hat Display", sans-serif;
  height: 45%;
  border: none;
  border-radius: 0.7vw;
}
* body main #buttons button:nth-child(2):hover {
  color: hsl(223, 47%, 23%);
}
* body main a:hover, * body main button:nth-child(1):hover {
  opacity: 0.7;
  text-decoration: none;
}
* body footer {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  text-align: center;
  color: hsl(223, 47%, 23%);
}
* body footer a {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}
* body footer a:hover {
  opacity: 0.9;
}
@media (max-width: 4000px) {
  * body main h1 {
    font-size: 3rem;
  }
  * body main h2 {
    font-size: 2rem;
  }
  * body main p, * body main #description span, * body main a, * body main button {
    font-size: 1.8rem;
  }
  * body footer {
    font-size: 1.8rem;
  }
}
@media (max-width: 2500px) {
  * body main h1 {
    font-size: 2.3rem;
  }
  * body main h2 {
    font-size: 1.5rem;
  }
  * body main p, * body main #description span, * body main a, * body main button {
    font-size: 1.4rem;
  }
  * body footer {
    font-size: 1.4rem;
  }
}
@media (max-width: 1800px) {
  * body main h1 {
    font-size: 1.7rem;
  }
  * body main h2 {
    font-size: 1.2rem;
  }
  * body main p, * body main #description span, * body main a, * body main button {
    font-size: 1.1rem;
  }
  * body footer {
    font-size: 1.1rem;
  }
}
@media (max-width: 1440px) {
  * body main h1 {
    font-size: 1.4rem;
  }
  * body main h2 {
    font-size: 0.9rem;
  }
  * body main p, * body main #description span, * body main a, * body main button {
    font-size: 0.85rem;
  }
  * body footer {
    font-size: 0.85rem;
  }
}
@media (max-width: 1040px) {
  * body main h1 {
    font-size: 1.1rem;
  }
  * body main h2 {
    font-size: 0.85rem;
  }
  * body main p, * body main #description span, * body main a, * body main button {
    font-size: 0.75rem;
  }
  * body footer {
    font-size: 0.75rem;
  }
}
@media (max-width: 950px) {
  * body main h1 {
    font-size: 1.4rem;
  }
  * body main h2 {
    font-size: 0.9rem;
  }
  * body main p, * body main #description span, * body main a, * body main button {
    font-size: 0.85rem;
  }
  * body footer {
    font-size: 0.85rem;
  }
  * body main {
    width: 90vw;
  }
  * body main #content {
    padding: 4vh 7vw;
  }
  * body main #content p {
    line-height: 3.5vh;
    width: 85%;
  }
  * body main .plan {
    height: 22%;
    padding: 0 6vw;
    border-radius: 2.5vw;
  }
  * body main .plan img {
    height: 60%;
  }
  * body main #buttons button:nth-child(1) {
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 500;
    box-shadow: 0vw 1.5vw 1.2vw -0.6vw hsla(245, 75%, 52%, 0.3);
    font-family: "Red Hat Display", sans-serif;
    height: 45%;
    border: none;
    border-radius: 2.5vw;
  }
}/*# sourceMappingURL=style.css.map */