@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$pale_blue: hsl(225, 100%, 94%);
$bright_blue: hsl(245, 75%, 52%);
$bright_blue_2: hsla(245, 75%, 52%, 30%);
$very_pale_blue: hsl(225, 100%, 98%);
$desaturated_blue: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);
$main_font: 'Red Hat Display', sans-serif;

@mixin button_theme($bg_color: $bright_blue, $color: $very_pale_blue, $font_weight: 500, $box_shadow: 0vw 1.5vw 1.2vw -0.6vw $bright_blue_2) {
    background-color: $bg_color;
    color: $color;
    font-weight: $font_weight;
    box-shadow: $box_shadow;
}

@mixin font_sizes($size_01, $size_02, $size_03) {
    main {
        h1 {
            font-size: $size_01;
        }

        h2 {
            font-size: $size_02;
        } 

        p, #description span, a, button {
            font-size: $size_03;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        background-image: url('images/pattern-background-desktop.svg');
        background-color: $pale_blue;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: $main_font;

        main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            width: 27vw;
            height: 80vh;
            overflow: hidden;
            border-radius: 2.5vh;
            box-shadow: 0vw 1vw 2.5vw -0.8vw $bright_blue_2;

            #hero {
                height: 30%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            #content {
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 4vh 3vw;

                p {
                    color: $desaturated_blue;
                    text-align: center;
                    width: 95%;
                    line-height: 3.2vh;
                }
            }

            h1, h2 {
                font-weight: 900;
            }

            .plan {
                display: flex;
                background-color: $very_pale_blue;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                height: 25%;
                padding: 0 1.5vw;
                border-radius: 0.7vw;

                img {
                    height: 60%;
                }
            }

            #description {
                width: 50%;
                height: 70%;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                span {
                    color: $desaturated_blue;
                }
            }

            a {
                color: $bright_blue;
                font-weight: 700;
            }

            #buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 30%;

                button {
                    font-family: $main_font;
                    height: 45%;
                    border: none;
                    border-radius: 0.7vw;
                }

                button:hover {
                    cursor: pointer;
                }

                button:nth-child(1) {
                    @include button_theme;
                }

                button:nth-child(2) {
                    @include button_theme($bg_color: transparent, $color: $desaturated_blue, $font_weight: 700, $box_shadow: none);
                }

                button:nth-child(2):hover {
                    color: $dark_blue;
                }
            }

            a:hover, button:nth-child(1):hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }

        @media (max-width: 4000px) {
            @include font_sizes($size_01: 3rem, $size_02: 2rem, $size_03: 1.8rem);
        }

        @media (max-width: 2500px) {
            @include font_sizes($size_01: 2.3rem, $size_02: 1.5rem, $size_03: 1.4rem);
        }

        @media (max-width: 1800px) {
            @include font_sizes($size_01: 1.7rem, $size_02: 1.2rem, $size_03: 1.1rem);
        }

        @media (max-width: 1440px) {
            @include font_sizes($size_01: 1.4rem, $size_02: 0.9rem, $size_03: 0.85rem);
        }

        @media (max-width: 1040px) {
            @include font_sizes($size_01: 1.1rem, $size_02: 0.8rem, $size_03: 0.75rem);
        }
    }
}